.inner_center_top{
	width: 100%;
	height: 5%;
}
.inner_center_top .search{
	float: left;
	margin: 18px;
}
.inner_center_top .search i{
	opacity: 0.6;
	color: #fff;
}
.inner_center_top .search input{
	width: 200px;
	height: 20px;
	border: none;
	background: none;
	font-size: 17px;
	outline: none;
	vertical-align: top;
	margin-top: 2px;
	color: #DBDBDB;
}
*::-webkit-input-placeholder {
	color: #DBDBDB;
	opacity: 0.3;
}

.inner_center_info{
	width: 100%;
	height: 90%;
	overflow-y: auto;
}
.inner_center_info_dept{
	width: 30%;
	height: 130px;
	background: #2F3035;
	float: left;
	margin-right: 28px;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 45px;
	color: #DBDBDB;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%,100%;
	font-weight: 600;
}
.inner_center_info_dept span{
	display: block;
	font-size: 20px;
	margin-top: 13px;
}
.inner_center_info_dept .name{
	float: left;
	margin-left: 25px;
}
.inner_center_info_dept .toe{
	float: right;
	margin-right: 25px;
}
.inner_center_info_dept .code{
	float: left;
	width: 100%;
	margin-left: 25px;
}
.inner_center_info_dept .mana{
	float: left;
	margin-left: 25px;
}
.inner_center_info_dept .count{
	float: right;
	margin-right: 25px;
}
.inner_center_info_bottom{
	text-align: center;
	width: 100%;
	height: 15%;
}
.next,.previous{
	margin-top: 20px;
	width: 115px;
	height: 30px;
	border-radius: 20px;
	letter-spacing: 3px;
	background: #2F3035;
	border: none;
	outline: none;
	color: #DBDBDB;
	cursor: pointer;
}
.inner_center_info_list{
	height: 75%;
}